/*html, body {
    max-width: 100%;
    overflow-x: hidden;
}*/

body  {
  color: black;
  font-family: OpenSans;
  /*font-weight: normal;*/
  /*background-image: url(../images/bg.png);*/
  /*background-image: url(../images/bg_orange.svg);*/
  background-repeat: no-repeat;
  /*background-position: 15% 15%;*/
  background-size: 2628px 4103px;
  padding-bottom: 100px;
}

/*col-md-4 {
  position: fixed;
  background-color: white;
}*/

@media (min-width: 994px) and (min-height: 539px) {
  #col-desc {
    position: fixed;
  }
}

/*@media (min-width > 994px) {
  #col-desc {
    position: fixed;
  }
}*/

h1 {
  color: blue;
  font-size: 55px;
  font-family: OpenSans;
  font-weight: bold;
}

h1 span:hover {  
  /*font-weight: bold;*/
  /*color: orange;*/
  background-color: white;
}


/* Style the navbar */
#navbar {
  padding-top: 1vw;
  z-index: 3;
  overflow: hidden;
  /*border-bottom: orange 4px solid;*/
}


/* Navbar links */
#navbar a {
  /*float: left;*/
  /*display: block;*/
  color: black;
  text-align: center;
  /*padding: 14px;*/
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
}

.selected, #navbar a:hover {
  color: blue !important;
}

/* Page content */
.content {
  padding: 16px;
  z-index: 1;
  position: relative;
}



h2 {
  font-weight: bold;
  padding-top: 20px;
}

.email {
  font-family: Courier;
  border: none !important;
  position: relative;
}

a {
  color: blue;
  /*text-decoration: underline blue dotted 2px;*/
}

a:hover {
  color: black;
  background-color: yellow;
  text-decoration: none;
}

.project-title{
  font-weight: bold;
  margin-right: 10px;
  font-size: 15px;

}

.project-img {
  /*width: 8vw;*/
  /*max-width: 120px;*/
  width: 120px;
  max-width: 8vw;
  object-fit: contain;
  /*float: right;*/
  border:  1px black dotted;
}

.paper-title{
  font-weight: bold;
  color: black;
}

.paper {
  border-left: black 4px solid;
  padding-left: 5px;
  margin-left: 6px;
}

.paper-pubs {
  border-left: none;
}

.project-desc {
/*  color: white;
  background-color: orange;*/
}


.regular-text{
  position: relative;
}

.dot-under {
  border-bottom: 1px dotted black;
}

.hovertext::after {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: max-content;
  max-width: 45vw;
  overflow-wrap: break-word;
  word-wrap: break-word;
  max-width: ;
  background-color: blue;
  color: #fff;
  text-align: right;
  border-radius: 0px;
  padding: 3px 5px;
  transition: opacity 0s ease-in-out;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 100%;
  left: 0%;
}

.hovertext.emailtext::after {
  left: 80%;
}

.hovertext:hover:after {
  opacity: 1;
  visibility: visible;
}

#images-holder{
  positon: relative;
  /*float: left;*/
}

#photo-me {
  position: relative;
  width:  120px;
  /*display: block;*/
  margin-left: 4vw;
  /*margin-right: ;*/
  padding-top: 3vw;
  z-index: 1;
}

.realpics {
  z-index: 2;
  position: absolute;
  width:  120px;
  /*display: block;*/
  margin-left: 4vw;
  /*margin-right: ;*/
  padding-top: 3vw;
  left: 0;
}

#projects, #resume, #pubs{
  margin-bottom: 20px;
}

.bibs {
  color: black;
  text-decoration: 1px black underline;
}

.bibs-pubs {
  /*font-size: 12px;*/
  margin-left: 0px;
  margin-top: 0;
  text-decoration: none;
  /*text-transform: uppercase;*/
  font-family: Courier;
}

.bibs:hover{
  /*color: orange;*/
  background-color: white;
  text-decoration: none;
}

.vertical-txt {
  float: right;
  /*text-align: right;*/
  padding-top: 10px;
  padding-bottom: 10px;
  text-orientation: sideways;
  writing-mode: vertical-lr;
  text-transform: uppercase;
  color: white;
}

/*.evencat{
  background-color: orange;
}*/

.oddcat{
  background-color: blue;
}

.resume-date {
  font-weight: bold;
}

.resume-title {
  font-weight: bold;
  /*background-color: orange;*/
  color: black;
  padding-left: 0px 10px;
}

.resume-cat, .pubs-cat {
  margin-bottom: 20px;
}

.resume-item, .pubs-item {
  margin-bottom: 10px;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  border:  1px black dotted;
}


iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#color-button {
  border: none;
  background-color: rgba(0, 0, 0,0);
  margin: 0;
  padding: 0;
}
